.done {
	display: none;
}
.container-progress {
	/* width: 100%;
	margin: 15px  auto;  */
	width: 100%;
    position: relative;
	left: -21px;
	margin-top: 10px;
}
.progressbar {
	counter-reset: step;
}
.progressbar li {
	list-style-type: none;
	width: 25%;
	float: left;
	font-size: 12px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color: #236E6E;
}
.progressbar li:before {
	width: 30px;
	height: 30px;
	content: counter(step);
	counter-increment: step;
	line-height: 30px;
	border: 2px solid #236E6E;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}
.progressbar li:after {
	width: 100%;
	height: 2px;
	content: '';
	position: absolute;
	background-color: #236E6E;
	top: 15px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none;
}
.progressbar li.active {
	/* color: green; */
}
.progressbar li.active:before {
	border-color: #EFB2B1 !important;
	z-index: 50;
}
.progressbar li.active + li:after {
	background-color: #EFB2B1;
}





body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
h1,h2,h3 {
    font-family: 'Lato', sans-serif;

}
.center {
	text-align: center;
}
a {
	text-decoration: none;
	color: #2BACB0;
}
.logo {
	width: 200px;
	height: auto;
	/* margin: 20px; */
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.primary-color {
	color: #236E6E;
}
.heading {
	text-align: center;
}
.loader {
	height: 30px;
	text-align: center;
	align-items: center;
	display: none;
}
.sub {
    color: grey;
}
.image {
    height: auto;
    width: 100%;
}
h2 {
    margin: 0;
}
.cluster{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form-style-5{
	min-width: 300px;
	max-width: 500px;
	padding: 10px 20px;
	background: #899194;
	margin: 10px auto;
	padding: 20px;
	background-color: #f4f7f8;
	border-radius: 8px;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #236E6E;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

#icon-submit, #cover-submit {
	width: 45%;
    border-radius: 2px;
	padding: 10px 20px 10px 20px;
	position: left;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #2BACB0;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #2BACB0;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #236E6E;
	border: 1px solid #236E6E;
}

.form-style-5 input[type="submit"]:disabled,
.form-style-5 input[type="button"]:disabled
{
	background: grey;
	border: 1px solid grey;
}
.homeBtn {
    padding: 40px;
    border-radius: 5px;
    color: white;
	letter-spacing: 1px;
	text-transform:uppercase ;
}
.pink {
	background-color: #EFB2B1;
}
.blue {
	background-color: #2BACB0;
}

.white {
	background-color: transparent;
}
.homeBtn a {
	text-decoration: none;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}